<?xml version='1.0' encoding='utf-8'?>
<widget id="co.surveyr.collect" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>surveyr</name>
    <description>collect the data you need, anytime, anywhere</description>
    <author email="dev@friendlylabs.io" href="https://friendlylabs.io">FriendlyLabs</author>

    <content src="index.html" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <plugin name="cordova-plugin-qr-barcode-scanner" />
    <plugin name="cordova-plugin-inappbrowser" />
</widget>
